{% load staticfiles %}
<html>
    <head>
        <title>Classification Search</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/cluster.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
    	<div class="background">
	        <div class="page-header">            
	            <a href="{% url 'search' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	            <h1><a href="/">TFM Carlos Velamazán</a></h1>
	        </div>
        
	        <div class="content container">
                {% block content %}
                {% endblock %}
	        </div>
        </div>
    </body>
</html>

